.card-group{
    margin-right: 10px !important;
margin-left: 10px !important;
}
.career-card {
    border: 2px solid transparent; 
    transition: border-color 0.3s ease-in-out; 
  }
  
  .career-card.selected {
    border: 4px solid maroon; 
  }