/* .card{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius:8px;
    transition: box-shadow 0.3s ease-in-out;
    
}

.card:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.offcanvas{
    width: 200px;
    height: 100px;
    background-color: #f5f5f5;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    
   
 
}

.card:hover .offcanvas{
    transform: translateX(0);
   
} */
.service-box-click {
    cursor: pointer;
}
.service-box {
    /* -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease; */
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
    height: 140px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    transition: all .3s ease;
}
.service-box.inview{
    padding-left: 10px;
}
.icon-handle {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
}
.link-text {
    color: #444;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding-left: 30px;
    vertical-align: middle;
    width: 65%;
}
.slide-contentv2 {
    /* -moz-transform: translateX(65%);
    -moz-transition: all .3s ease;
    -ms-transform: translateX(65%);
    -ms-transition: all .3s ease;
    -o-transform: translateX(65%);
    -o-transition: all .3s ease;
    -webkit-transform: translateX(65%);
    -webkit-transition: all .3s ease; */
    background-color: #e77817;
    filter: alpha(opacity=0);
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(65%);
    transition: all .3s ease;
    width: 65%;
    z-index: 10;
}
.slide-contentv2.inview {
  opacity: 1;
  transform: translateX(0);
  /* -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0); */
}