.card-row {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .cards {
    width: 350px;
    height: 90px;
    background-color: lightgrey;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }